.bg-cadastro{
border-radius: 20px;
width: 100%;
height:138vh;
margin-top: 50px;
margin-bottom: 50px;
padding: 20px;
background-size: 300% 300%;
background-image: linear-gradient(-45deg, #99e2b4 25%, #99e2b4 25%, #036666 51%, #036666 80%);
-webkit-animation: AnimateBG 20s ease infinite;
        animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

@keyframes AnimateBG {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

.botao-cadastro{
    background-color: #77bfa3!important;
    margin-right: 10px!important;
}

.container-img{
    background-image: url('https://img.freepik.com/fotos-gratis/diversas-pessoas-felizes-desfrutando-no-parque_53876-63295.jpg?w=900&t=st=1683152147~exp=1683152747~hmac=93dfa3dc9378d59f8a06141fa82c5ec4e4176468b0648887850581096defaf4d');
    background-repeat:no-repeat;
    width:100vh;
    min-height: 100vh;
    background-size:cover;
    background-position:center;
}


.btnCancelar{
    margin-right: 20px !important;
}
