.background_listapostagem {
  background-color: rgb(19, 49, 49);
  justify-content: center;
  align-items: center;
 
}
.btn-postagem {
  background-color: rgb(13, 170, 231) !important;
 
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
 display: inline-block;
 position: relative;
}

.text-decorator-none {
  text-decoration: none;
}


.posts {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 50vh;


  min-width: 20;
  max-width: 400;

}
/* Estilização botão nova postagem */
.formulario_fora {
  background-color: rgb(191, 210, 210);
}
/* .container_formulario {
  background-color: rgb(14, 108, 108); 
  border-radius: -100px;
} */

.formulario {
  background-color: #548C2F;
  box-shadow: -1px 7px 8px 6px rgba(0,0,0,0.71);
  -webkit-box-shadow: -1px 7px 8px 6px rgba(0,0,0,0.71);
  -moz-box-shadow: -1px 7px 8px 6px rgba(0,0,0,0.71);
  
}

.caixa {
  background-color: #77bfa3;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: #F0F0F0;
  border-radius: 10px;
}

#botaodeletar {
  color: aqua;
  background-color: aqua;
  border-radius: 100px;
}
/* .ul{
  display: flex!important;
} */

