.root {
    flex-grow: 1px;
  }

.menuButton {
    margin-right: 2px;
    color: blue;
  }

.title {
    flex-grow: 1px;
  }

.bt{
    text-align: right;
}

.cursor{
    cursor: pointer;
    color: white;
}
