.cursor{
    cursor: pointer!important;
    color: white!important;
}

.text-decorator-none{
    text-decoration: none;
}

.menuButton{
    margin-right: 2px;
}
.icons-home{
    color: white!important;
    height: 10px!important;
  }

 .menu{
    align-items: center!important;
    justify-content: center!important;
  }