/*
img: https://img.freepik.com/vetores-gratis/mencao-conceito-ilustracao_114360-231.jpg?w=740&t=st=1683064597~exp=1683065197~hmac=69b35e0c62a75a7799cfef6496c2cd1893c947bcb182f48a54c765490a5f9f0e
*/
.contato-titulo{
    font-family: 'Bellota Text', cursive!important;
    color: white!important;
    font-weight: lighter!important;
}

.bg {
    border-radius: 20px;
    width: 100%;
    height: 80vh;
    margin-top: 50px;
    padding: 20px;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, #99e2b4 25%, #99e2b4 25%, #036666 51%, #036666 80%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .botao-contato{
    background-color: #77bfa3!important;
    margin-top: -50px!important;
    margin-right: 10px!important;
  }

  .css-e4w4as-MuiFormLabel-root-MuiInputLabel-root{
    color: white!important;
    font-family: 'Bellota Text', cursive!important;
  }

  .MuiInputBase-inputMultiline{
    padding: 2px!important;
  }