@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');

.container-header{
  
  height: 50vh;
  margin-bottom: -100px;
  background-color:#2c6e49;
  color: white;
}
.bg-header{
  background-image: url('https://img.freepik.com/vetores-gratis/fundo-do-dia-da-saude-mental-do-mundo-plano_23-2149634438.jpg?w=900&t=st=1682994206~exp=1682994806~hmac=6f051b3ec0beb0555c502567d62e3d2a8dd5c0c1a7cc9d000636831c5de431fe');
  background-repeat:no-repeat;
  width: 100px;
  height: 80vh;
  background-size:cover;
  background-position:center;
}
.titulo{
  padding-top: 20px!important;
  font-family: 'Bellota Text', cursive!important;
}
  
.subtitulo-txt-animado{
  font-size: 30px!important;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 7s steps(50) /*infinite alternate*/,
    blink 800ms steps(50) infinite normal;
  border-right: 5px solid black;
  font-family: 'Bellota Text', cursive!important;
}
.txt1{
  font-family: 'Bellota Text', cursive!important;
}
.txt2{
  font-family: 'Bellota Text', cursive!important;
}
@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 98%;
  }
}

@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}

/*não fica responsivo*/
.container-txts{
  margin-left: 170px;
  width: 800px;
}

.font-txt{
  font-family: 'Bellota Text', cursive!important;
}

.assuntos-relacionados{
  margin-top: 20px;
}

.imgs{
  width: 200px;
  height: 150px;
 
}
.icons-home{
  color: white!important;
  height: 20px!important;
}
.menu{
  align-items: center!important;
  justify-content: center!important;
  height: 25px!important;
  background-color:#2c6e49!important;
}
.header1{
  display: flex;
  margin: 25px!important;
  align-items: center;
  justify-content: space-between!important;
}
.img-home{
  width: 100px!important;
}

.box-img{
  margin-left: 120px!important;
}
.box-search{
  margin-left: 120px!important;
}
.bar-home{
  display: flex!important;
  background-color: #77bfa3!important;
  height: 30px!important;
  justify-content:space-around!important;
}
.MuiButton-root{
  font-family: 'Bellota Text', cursive!important;
  text-transform: none!important;
  color: white!important;
}
.MuiToolbar-regular{
  min-height: 4px!important;
}

.icons-temas{
  color: black!important;
}
.botao{
  background-color: #2c6e49!important;
}
.list{
  display: flex;
}
.card{
  height: 30vh;
}
/*infinite alternate = deixa o texto em loop*/