.container-footer{
    background-color: #68d8d6!important;
    color: white!important;
}

.link{
    text-decoration: none!important;
    color: #358f80!important;
}

.imgs-footer{
    width: 40px;
    height: 20px;
}
.texto-footer{
    font-size: 20px!important;
}
.texto-footer-2{
    font-size: 15px!important;
}