.container-footer{
    background-color: #2c6e49!important;
    color: white!important;
}

.link{
    text-decoration: none!important;
    color: #358f80!important;
}

.imgs-footer{
    width: 40px;
    height: 20px;
}
.texto-footer{
    font-size: 18px!important;
    font-weight: bold;
}
.texto-footer-2{
    font-size: 15px!important;
}

.foto{
    width: 200px;
    height: 200px;
}



.button {
    --c:  #58BC82; 
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    width: 50px;
    height: 30px;
  }
  .button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  .button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }

  .bg-white{
    background-color: white;
  
  }