.duvidas-bg{
    background-image: url('https://img.freepik.com/fotos-gratis/diversas-pessoas-felizes-desfrutando-no-parque_53876-63295.jpg?w=900&t=st=1683152147~exp=1683152747~hmac=93dfa3dc9378d59f8a06141fa82c5ec4e4176468b0648887850581096defaf4d');
    background-repeat:no-repeat;
    
    min-height: 100vh;
    background-size:cover;
    background-position:center;
}
.bg-tab-contato{
    background-color: #77bfa3!important;
   
}
#posts{
    padding-right: 10px!important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
    box-shadow: none!important;
}
.container-tab{
    background-color: white!important;
}